ArecaIPIS/.vs/ArecaIPIS/v16/.suo
ArecaIPIS/ArecaIPIS/bin/Debug/ArecaIPIS.exe
ArecaIPIS/ArecaIPIS/bin/Debug/ArecaIPIS.pdb
ArecaIPIS/ArecaIPIS/bin/Debug/AxInterop.AcroPDFLib.dll
ArecaIPIS/ArecaIPIS/bin/Debug/AxInterop.WMPLib.dll
ArecaIPIS/ArecaIPIS/bin/Debug/Interop.AcroPDFLib.dll
ArecaIPIS/ArecaIPIS/bin/Debug/Interop.WMPLib.dll
ArecaIPIS/ArecaIPIS/obj/Debug/ArecaIPIS.csproj.FileListAbsolute.txt
ArecaIPIS/ArecaIPIS/obj/Debug/ArecaIPIS.csproj.GenerateResource.cache
ArecaIPIS/ArecaIPIS/obj/Debug/ArecaIPIS.exe
ArecaIPIS/ArecaIPIS/obj/Debug/ArecaIPIS.pdb
ArecaIPIS/ArecaIPIS/obj/Debug/AxInterop.AcroPDFLib.dll
ArecaIPIS/ArecaIPIS/obj/Debug/AxInterop.WMPLib.dll
ArecaIPIS/ArecaIPIS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ArecaIPIS/ArecaIPIS/obj/Debug/Interop.AcroPDFLib.dll
ArecaIPIS/ArecaIPIS/obj/Debug/Interop.MediaPlayer.dll
ArecaIPIS/ArecaIPIS/obj/Debug/Interop.WMPLib.dll
ArecaIPIS/ArecaSetUp/Debug/ArecaSetUp.msi
